#statsContainer {
  -fx-background-color: #313131;
  -fx-padding: 0 5;
}

#visualsContainer {
  -fx-background-color: #414141;
}

.gantt-border {
  -fx-border-color: white;
  -fx-border-width: 1;
}

#statusPane {
  -fx-border-radius: 3;
  -fx-border-width: 4;
  -fx-border-color: #525252;
  -fx-background-color: #525252;
  -fx-background-radius: 4;
}

#statusPane1 {
  -fx-border-width: 0 0 0 8;
  -fx-border-color: #525252;
  -fx-background-radius: 4;
  -fx-padding: 0 5;
}

/*
CHART
 */
.chart-plot-background {
  -fx-background-color: transparent;
}

.chart-vertical-grid-lines {
  -fx-stroke: #525252;
}

.axis {
  -fx-tick-label-fill: #ffffff;
  -fx-tick-length: 10;
}

.axis-label {
  -fx-text-fill: #ffffff;
}

/*
TAB SETTINGS
 */
.tab-pane:top *.tab-header-area {
  -fx-background-insets: 0, 0 0 0 0;
  -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

.tab {
  -fx-background-color: #414141;
  -fx-text-base-color: #ffffff;
  -fx-padding: 7 8;
  -fx-background-radius: 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
  -fx-border-color: rgba(0,0,0,0);
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected {
  -fx-background-color: #525252;
  -fx-text-base-color: #ffffff;
}

.tab:selected {
  -fx-background-color: #525252;
  -fx-text-base-color: #ffffff;
}

.tab-pane *.tab-header-background {
  -fx-background-color: #414141;
  -fx-effect: innershadow(two-pass-box , transparent , 0, 0.0 , 0 , 0);
}

/**
TABLE VIEW
 */
.table-view {
  -fx-selection-bar: #dedede;
  -fx-selection-bar-non-focused: #dedede;
  -fx-text-alignment: CENTER;
  -fx-alignment: CENTER;
}

.table-view .placeholder {
  -fx-background-color: #414141;
}

.table-view .placeholder .label {
  -fx-text-fill: #ffffff;
}

#taskIDColumn, #startTimeColumn, #endTimeColumn, #assignedProcessorColumn{
  -fx-alignment: CENTER;
  -fx-text-alignment: CENTER;
  -fx-font-weight: NORMAL;
}

#taskIDColumn {
  -fx-font-weight: BOLD;
}

.table-view {
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.table-view .table.column {
  -fx-text-alignment: CENTER;
}

.table-cell {
  -fx-background-color: #414141;
  -fx-text-fill: white;
}

.table-row-cell{
  -fx-table-cell-border-color: transparent;
}

.table-view:focused{
  -fx-background-color: transparent;
}

.table-view .column-header-background .label{
  -fx-background-color: #414141;
  -fx-border-color: #525252;
  -fx-border-width: 0 0 8 0;
  -fx-text-fill: white;
}

.table-view .column-header {
  -fx-background-color: #414141;
}

/*
LEGEND
 */
#legendListView {
  -fx-background-color: rgba(0,0,0,0);
  -fx-selection-bar: #dedede;
  -fx-font-family: 'Space Mono', monospace;
}

#legendListView .list-cell:odd,
#legendListView .list-cell:even {
  -fx-background-color: rgba(0,0,0,0);
  -fx-text-fill: white;
}

#legendListView .cell {
  -fx-background-color: #313131;
}

#legendListView .list-cell {
  -fx-control-inner-background: blue;
}

/* SCROLL BAR */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
  -fx-background-color :transparent;
  -fx-border-color :transparent;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
  -fx-background-color :transparent;

}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
  -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
  -fx-background-color :transparent;
  -fx-background-radius : 0.0em;
  -fx-padding :0.0 12.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
  -fx-shape : " ";
  -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
  -fx-shape : " ";
  -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color : #dedede;
  -fx-background-insets : 2.0, 0.0, 0.0;
  -fx-background-radius : 2.0em;
}

.scroll-bar{
  -fx-background-color: transparent;
  -fx-background-radius: 2em;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}

.scroll-bar:vertical:focused {
  -fx-background-color: transparent;
}

/*
BUTTON SETTING
 */
.button {
  -fx-background-color: rgba(0,0,0,0);
}

.button:hover {
  -fx-opacity: 0.6;
}

.button:selected {
  -fx-opacity: 0.6;
}

.button:pressed {
  -fx-scale-y: 1.1;
  -fx-scale-x: 1.1;
}

/*
COMBOBOX SETTINGS
 */

#comboBox{
  -jfx-focus-color: transparent;
  -fx-font-family: 'Space Mono', monospace;
  -fx-font-weight: bold;
  -fx-font-size: 15px;
  -jfx-text-fill: white;
}

#comboBox .arrow {
  -fx-background-color: white;
  -fx-prompt-text-fill: #525252;
}

.jfx-combo-box .list-view .list-cell{
  -fx-background-color: #525252;
}

#comboBox .list-cell:hover{
  -fx-background-color: #383838;
}

#comboBox .cell{
  -fx-text-fill: white;
}

.jfx-combo-box {
  -fx-focus-color: transparent;
  -fx-text-fill: white;
}

.jfx-combo-box > .list-cell:selected{
  -fx-background-color: transparent;
  -jfx-focus-color: transparent;
}

.jfx-combo-box > .list-cell {
  -fx-alignment: CENTER;
  -fx-text-alignment: CENTER;
}

.jfx-combo-box > .prompt-container {
  -fx-alignment: center;
}


/*
FONT SETTING
 */
#fileNameText {
  -fx-font-family: 'Space Mono', monospace;
}

#stats {
  -fx-font-family: 'Space Mono', monospace;
  -fx-font-weight: bold;
}

#searchGraph {
  -fx-font-family: 'Space Mono', monospace;
  -fx-font-size: 18;
  -fx-font-weight: BOLD;
}

#algorithmStatus {
  -fx-font-family: 'Space Mono', monospace;
  -fx-font-weight: bold;

}

#algorithmTypeText {
  -fx-font-family: 'Space Mono', monospace;
  -fx-font-weight: bold;
}

#timeElapsedText {
  -fx-font-family: 'Space Mono', monospace;

}

#numberOfTasks {
  -fx-font-family: 'Space Mono', monospace;

}

#numberOfProcessors {
  -fx-font-family: 'Space Mono', monospace;

}

#numberOfThreads {
  -fx-font-family: 'Space Mono', monospace;
}

#bestScheduleCost {
  -fx-font-family: 'Space Mono', monospace;

}

#numberOfIterations {
  -fx-font-family: 'Space Mono', monospace;
}


#branchesPruned {
  -fx-font-family: 'Space Mono', monospace;
}

#currentLowerBound {
  -fx-font-family: 'Space Mono', monospace;
}

#graphTab {
  -fx-font-family: 'Space Mono', monospace;
}

#taskTab {
  -fx-font-family: 'Space Mono', monospace;
}

#resultTab {
  -fx-font-family: 'Space Mono', monospace;
}

#taskSchedule {
  -fx-font-family: 'Space Mono', monospace;
  -fx-font-size: 18;
  -fx-font-weight: BOLD;
}

#legendText {
  -fx-font-family: 'Space Mono', monospace;
  -fx-font-weight: bold;
}

#scheduleResults {
  -fx-font-family: 'Space Mono', monospace;
  -fx-font-size: 18;
  -fx-font-weight: BOLD;
}

#scheduleResultsTable {
  -fx-font-family: 'Space Mono', monospace;
}

#currentMemoryUsage {
  -fx-font-family: 'Space Mono', monospace;
}